.hero-section{
    height: 100vh;
    align-items: center;
}
.provider-link .nav-link{
    font-weight: 600;
    color: #0d203d !important;
}
.provider-link .nav-link:hover{
    color: goldenrod !important;
}