:root {
    --bs-primary: #0d6efd; /* Or your custom blue hex code */
    --bs-primary-rgb: 13, 110, 253;
}
.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
